body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#map {
    height: 80vh; /* Set the height of the map */
    width: 100%; /* Set the width of the map */
}
